@charset "UTF-8";

/* CSS Document */
/*
============================================================
*	common_n.css
============================================================
*/
/* 初期化
==========================================================*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
dt,
dd,
form,
select,
figure,
figcaption,
table,
td,
th {
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
	margin: 0px;
	padding: 0px;
}
table {
	border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
strong {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}
a {
	text-decoration: none;
	color: #11a7d7;
	-webkit-tap-highlight-color: transparent;
}
table,
td,
th,
tr,
thead,
tbody {
	border: none;
}
ul,
ol {
	list-style: none;
	padding: 0;
}
li {
	padding: 0;
}
address {
	font-style: normal;
}
img {
	vertical-align: bottom;
}
a img {
	border: none;
}
input,
select {
	vertical-align: middle;
}
textarea {
	font-size: 1em;
}
input[type="text"] {
	margin: 0;
	padding: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 0;
	padding: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

/* 共通
==========================================================*/
body {
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0;
	color: #666666;
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic ProN", sans-serif, Arial, Verdana, Roboto,
		"Droid Sans";
	-webkit-text-size-adjust: 100%;
}
#container {
	width: 100%;
	position: relative;
}

/*2018.3.20 ここから修正*/

/*  header  */
#header {
	width: 100%;
	position: relative;
	background: #fff;
}

#header .inner {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 49px;
	padding: 6px 7px 10px 7px;
	position: relative;
	z-index: 10;
}
#shoulderTxt {
	color: #999999;
	font-size: 10px;
}
#shoulderTxt_copy {
	color: #999999;
	font-size: 10px;
}
#header .headerImg {
	position: absolute;
	width: 100%;
	text-align: right;
}
/*次のページ前のページリンク*/
.prev-next-link a {
	border-bottom: 1px #ddd solid;
	display: block;
	text-decoration: none;
	padding: 14px 40px;
	color: #0bd;
}
.prev-next-link a:hover {
	background-color: #f6f6f6;
}
.prev-next-link a:first-child {
	border-top: 1px #ddd solid;
}
.prev-next-label {
	font-size: 0.825rem;
	color: #000;
	margin-bottom: 10px;
}
/* Responsive */
@media (min-width: 600px) {
	.prev-next-link {
		display: flex;
	}
	.prev-next-link a {
		flex: 1;
	}
	.prev-next-link a,
	.prev-next-link a:first-child {
		border: none;
	}
	.next-link {
		text-align: right;
	}
}
/* Arrows */
.prev-link {
	background: url(images/arrow-prev.svg) no-repeat 10px center;
}
.next-link {
	background: url(images/arrow-next.svg) no-repeat right 10px center;
}
.prev-link,
.next-link {
	background-size: 16px 28px;
}
/* Images */
.thumb-wrap {
	display: flex;
}
.thumb-wrap p {
	margin: 0 0 0 16px;
}
.thumb-wrap img {
	width: 80px;
	height: 100%;
}
/*オートログイン機能追加　2017.06.07ここから追加*/
#header .login_wrap {
	display: table;
	position: absolute;
	top: 7px;
	right: 5px;
	width: 130px;
	height: 50px;
}
#header .login_wrap_nom {
	display: table;
	position: absolute;
	top: 7px;
	right: 5px;
	width: 48px;
	height: 50px;
}

#header .btn_autoLogin_txt {
	display: table-cell;
	vertical-align: middle;
	font-size: 8px;
	color: #666;
	width: 80px;
	padding-right: 3px;
	height: 100%;
	line-height: 1.1;
}
#header .btn_autoLogin_txt p {
	padding: 0;
	text-align: right;
}

#header .btn_autoLogin_txt span {
	font-size: 6px !important;
	display: block; /*2017.08.25追加*/
}

#header .btn_autoLogin {
	display: table-cell;
	vertical-align: middle;
	width: 45px;
	height: 100%;
}
#header .btn_autoLogin a {
	background: rgba(0, 0, 0, 0) linear-gradient(#ff9ccb, #ff70b4) repeat scroll 0
		0;
	border: 1px solid #d57ba5;
	border-radius: 4px;
	color: #ffffff !important;
	display: block;
	padding: 10px 0 10px;
	text-align: center;
	font-size: 8px;
}

/*オートログイン機能追加　2017.06.07ここまで追加*/
/*2017.08.25ここから追加*/
@media screen and (max-width: 320px) {
	#header .login_wrap {
		display: table;
		position: absolute;
		top: 7px;
		right: 5px;
		width: 90px;
		height: 50px;
	}
	#header .btn_autoLogin_txt {
		display: table-cell;
		vertical-align: middle;
		font-size: 8px;
		color: #666;
		width: auto;
		padding-right: 3px;
		height: 100%;
		line-height: 1.1;
	}
}
/*2017.08.25ここまで追加*/

/*  wrapper  */
#wrapper {
	position: relative;
	/*2018.3.20 ここから修正*/
}

.pageTop {
	display: none;
	width: 40px;
	position: fixed;
	right: 5px;
	bottom: 10px;
	transform: translate3d(0, 0, 0);
	z-index: 999;
}
.pageTop.b100 {
	display: none;
	width: 40px;
	position: fixed;
	right: 5px;
	bottom: 100px;
	transform: translate3d(0, 0, 0);
	z-index: 999;
}
.pageTop a {
	background: #ccc;
	display: block;
	height: 40px;
	border-radius: 5px;
	position: relative;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.pageTop a::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: -8px;
	margin: auto;
	width: 15px;
	height: 15px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	transform: rotate(-45deg);
}

.pageTop.ex {
	margin-bottom: 90px;
}

/*  footer  */
#footer {
	background: #eef9fc;
	border-top: 2px solid #04b0e6;
}
#footlink {
	border-bottom: 1px solid #fff;
	margin-bottom: 20px;
}
#footlink li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c5dfea;
	padding: 0 10px;
}
#footlink li a {
	display: block;
	padding: 18px 21px 18px 0;
	background: url(/sp/img_n/ico_foot_02.png) 100% 50% no-repeat;
	background-size: 13px 12px;
	color: #666;
}
#footlink li a.lk_insite {
	background: url(/sp/img_n/ico_foot_01.png) 100% 50% no-repeat;
	background-size: 13px 12px;
}
#footlink li a.lk_outsite {
	background: url(/sp/img_n/ico_foot_03.png) 100% 50% no-repeat;
	background-size: 13px 12px;
}
#footer .pcSiteBtn {
	width: 120px;
	margin: 0 auto 20px;
}
#footer .pcSiteBtns {
	display: block;
	clear: both;
	width: 249px;
	margin: 0 auto 20px;
	overflow: hidden;
}
#footer .pcSiteBtns li {
	width: 120px;
	float: left;
	margin-right: 9px;
}
#footer .pcSiteBtns li:last-child {
	margin-right: 0;
}
#copyright {
	color: #a1b7bd;
	text-align: center;
	padding-bottom: 10px;
}

/* 共通パーツ */
a.line {
	text-decoration: underline;
}
.btn_gray {
	color: #333333;
	border: 1px solid #42b0cc;
	padding: 10px 0 8px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ffffff),
		to(#ebebeb)
	);
	background: -webkit-linear-gradient(#ffffff, #ebebeb);
	background: -moz-linear-gradient(#ffffff, #ebebeb);
	background: -ms-linear-gradient(#ffffff, #ebebeb);
	background: -o-linear-gradient(#ffffff, #ebebeb);
	background: linear-gradient(#ffffff, #ebebeb);
	display: block;
}
.disable {
	border: 1px solid #dcdcdc;
}
span.btn_gray2 {
	border: 1px solid #bfbfbf;
	padding: 10px 0 8px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #cccccc;
	display: block;
}

.btn_gray3 {
	color: #333333;
	border: 1px solid #42b0cc;
	padding: 10px 0 8px;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ffffff),
		to(#ebebeb)
	);
	background: -webkit-linear-gradient(#ffffff, #ebebeb);
	background: -moz-linear-gradient(#ffffff, #ebebeb);
	background: -ms-linear-gradient(#ffffff, #ebebeb);
	background: -o-linear-gradient(#ffffff, #ebebeb);
	background: linear-gradient(#ffffff, #ebebeb);
	display: block;
}
.btn_gray4 {
	border: 1px solid #acacac;
	padding: 10px 0 8px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #bfbfbf;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#c2c2c2),
		to(#bfbfbf)
	);
	background: -webkit-linear-gradient(#c2c2c2, #bfbfbf);
	background: -moz-linear-gradient(#c2c2c2, #bfbfbf);
	background: -ms-linear-gradient(#c2c2c2, #bfbfbf);
	background: -o-linear-gradient(#c2c2c2, #bfbfbf);
	background: linear-gradient(#c2c2c2, #bfbfbf);
	display: block;
}

.btn_orange {
	border: 1px solid #af6505;
	padding: 12px 0 10px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: #666 0px 0px 2px;
	-moz-box-shadow: #666 0px 0px 2px;
	box-shadow: #666 0px 0px 2px;
	background: #ff790b;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ff790b),
		to(#f26a0d)
	);
	background: -webkit-linear-gradient(#ff790b, #f26a0d);
	background: -moz-linear-gradient(#ff790b, #f26a0d);
	background: -ms-linear-gradient(#ff790b, #f26a0d);
	background: -o-linear-gradient(#ff790b, #f26a0d);
	background: linear-gradient(#ff790b, #f26a0d);
	display: block;
}

.btn_blue {
	border: 1px solid #0c7a9e;
	padding: 10px 0 8px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #0aafe3;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#0aafe3),
		to(#0da3d3)
	);
	background: -webkit-linear-gradient(#0aafe3, #0da3d3);
	background: -moz-linear-gradient(#0aafe3, #0da3d3);
	background: -ms-linear-gradient(#0aafe3, #0da3d3);
	background: -o-linear-gradient(#0aafe3, #0da3d3);
	background: linear-gradient(#0aafe3, #0da3d3);
	display: block;
}
.btn_pink {
	border: 1px solid #d57ba5;
	padding: 10px 0 8px;
	text-align: center;
	color: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: #666 0px 0px 2px;
	-moz-box-shadow: #666 0px 0px 2px;
	box-shadow: #666 0px 0px 2px;
	background: #0aafe3;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ff9ccb),
		to(#ff70b4)
	);
	background: -webkit-linear-gradient(#ff9ccb, #ff70b4);
	background: -moz-linear-gradient(#ff9ccb, #ff70b4);
	background: -ms-linear-gradient(#ff9ccb, #ff70b4);
	background: -o-linear-gradient(#ff9ccb, #ff70b4);
	background: linear-gradient(#ff9ccb, #ff70b4);
	display: block;
}
/*
--------------------------------
No1130 2015.11.18ここから修正
--------------------------------
*/
.btn_green {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#57d7c0),
		to(#00b696)
	);
	background: rgba(0, 0, 0, 0) linear-gradient(#57d7c0, #00b696) repeat scroll 0
		0;
	border: 1px solid #09a279;
	border-radius: 4px;
	color: #fff;
	display: block;
	padding: 10px 0 8px;
	text-align: center;
}
.btn_gray5 {
	color: #333333;
	border: 1px solid #2ba396;
	/*padding: 10px 0 8px;*/
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ffffff;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ffffff),
		to(#ebebeb)
	);
	background: -webkit-linear-gradient(#ffffff, #ebebeb);
	background: -moz-linear-gradient(#ffffff, #ebebeb);
	background: -ms-linear-gradient(#ffffff, #ebebeb);
	background: -o-linear-gradient(#ffffff, #ebebeb);
	background: linear-gradient(#ffffff, #ebebeb);
	display: block;
}
/*
--------------------------------
No1130 2015.11.18ここまで修正
--------------------------------
*/

.btnCenter {
}
.btn_detail,
.btnRegistBox a,
.btnRegistCloseBox a {
	position: relative;
}
.btn_detail:after,
.btnRegistBox a:after {
	content: ".";
	color: #ffffff;
	font-size: 12px;
	height: 17px;
	line-height: 0;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 16px;
	height: 18px;
	display: block;
	background: url(/sp/img_n/btn_arrow_down.png) 0 0 no-repeat;
	background-size: 12px 11px;
	text-indent: -999px;
}
.btnRegistCloseBox a:after {
	content: ".";
	color: #ffffff;
	font-size: 12px;
	height: 17px;
	line-height: 0;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 16px;
	height: 18px;
	background: url(/sp/img_n/btn_arrow_up.png) 0 0 no-repeat;
	background-size: 12px 11px;
	text-indent: -999px;
}

input[type="checkbox"] {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	position: absolute;
}
input[type="radio"] {
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	position: absolute;
}
.defSectionBox .gradilinkBox .listup .radioButton input[type="radio"] {
	display: none;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
	border: 1px solid #42b0cc;
	padding: 8px 3px;
	font-size: 18px;
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(
		top,
		#cccccc 1%,
		#ffffff 8%,
		#ffffff 100%
	); /* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1%, #cccccc),
		color-stop(8%, #ffffff),
		color-stop(100%, #ffffff)
	); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(
		top,
		#cccccc 1%,
		#ffffff 8%,
		#ffffff 100%
	); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(
		top,
		#cccccc 1%,
		#ffffff 8%,
		#ffffff 100%
	); /* Opera 11.10+ */
	background: -ms-linear-gradient(
		top,
		#cccccc 1%,
		#ffffff 8%,
		#ffffff 100%
	); /* IE10+ */
	background: linear-gradient(
		to bottom,
		#cccccc 1%,
		#ffffff 8%,
		#ffffff 100%
	); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
select {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: url(/sp/img_n/ico_arw_btm.png) 97% 5px no-repeat;
	background-size: 8px 7px;
	padding: 0 28px 4px 13px;
	border: none;
	display: inline-block;
	/*SS_WEB_MNT-4991 2020.01.21 ここから修正*/
	appearance: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}
/*SS_WEB_MNT-4991 2020.01.21 ここまで修正*/

.disable select {
	background: url(/sp/img_n/ico_arw_btm_disable.png) 97% 5px no-repeat;
	background-size: 8px 7px;
}
.selectDsn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #42b0cc;
	background: #ffffff;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#ffffff),
		to(#ebebeb)
	);
	background: -webkit-linear-gradient(#ffffff, #ebebeb);
	background: -moz-linear-gradient(#ffffff, #ebebeb);
	background: -ms-linear-gradient(#ffffff, #ebebeb);
	background: -o-linear-gradient(#ffffff, #ebebeb);
	background: linear-gradient(#ffffff, #ebebeb);
}
.selectDsn .slectInner {
	margin-left: 13px;
}
.selectDsn input {
	padding: 12px 0;
	background: url(/sp/img_n/ico_arw_btm.png) 97% 50% no-repeat;
	background-size: 8px 7px;
	border: none;
	width: 100%;
	font-size: 14px !important;
}
select.sbox {
	font-size: 14px !important;
}

.defSectionBox {
	padding: 0 0 30px;
}
.defSectionBox.ex {
	padding-bottom: 20px;
}
.defSectionBox .inner {
	margin: 10px 0 0;
	padding: 0 10px;
}
.defSectionBox .innerLine {
	padding: 10px 10px 10px;
	border-bottom: 1px solid #dcdcdc;
}
.defSectionBox .innerTxt {
	padding: 0 10px 15px;
}
.defSectionBox .inner .innerTxt {
	padding: 0 0 15px;
}
.defSectionBox .inner .pageTit3 {
	padding: 10px 0;
}
.defSectionBox .innerLine .pageTit7 {
	margin-top: -10px;
}
.defSectionBox .webArea {
	background: url(../../reservation/entry/img_n/img_bottomarrow.jpg) top center
		no-repeat;
	background-size: 185px 30px;
	padding: 50px 10px 10px;
	margin-top: 12px;
}
.cbxbd label {
	background: url(/sp/img_n/bg_cbx.png) 0 50% no-repeat;
	background-size: 22px 22px;
	display: block;
	padding: 0 0 0 30px;
	cursor: pointer;
	overflow: hidden;
	min-height: 22px;
}
.cbxbd label.c_on {
	background: url(/sp/img_n/bg_cbx_on.png) 0 50% no-repeat;
	background-size: 22px 22px;
}
.cbxbd label.none,
.cbxbd label.none.c_on {
	background: url(/sp/img_n/bg_cbx_none.png) 0 50% no-repeat;
	background-size: 22px 22px;
}
.radiobd label,
gradilinkBox label {
	background: url(/sp/img_n/bg_radio.png) 0 50% no-repeat;
	background-size: 30px 30px;
	display: block;
	padding: 5px 0 0 40px;
	cursor: pointer;
	overflow: hidden;
	min-height: 25px;
}
.radiobd label.c_on {
	background: url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
	background-size: 30px 30px;
}

table.c2list {
	width: 100%;
	margin-bottom: 15px;
}
table.c2list.ex {
	border-top: 1px solid #dcdcdc;
}
table.c2list td {
	width: 50%;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding: 10px 10px 10px 0;
}
table.c2list td label {
	margin-left: 10px;
}
table.c2list td label.none {
	color: #ccc;
}
table.c2list.arrowlinkBox td a {
	color: #666;
	display: block;
	background: url(/sp/img_n/ico_arw_r.png) 100% 50% no-repeat;
	background-size: 12px 12px;
	padding-left: 10px;
}
ul.c2list {
	width: 100%;
	display: inline-table;
}
ul.c2list li {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
}
ul.c2list li.w20 {
	width: 20%;
}

.pageTit {
	background: #38b5d5;
	border-top: 1px solid #32a8ce;
	border-bottom: 1px solid #32a8ce;
	color: #ffffff;
	font-size: 20px;
	padding: 5px 0 5px 10px;
	position: relative;
	margin-bottom: 15px;
}
.pageTit .closeBtn {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 14px;
	vertical-align: bottom;
}
.pageTit .closeBtn .icon {
	font-weight: bold;
	font-size: 16px;
	padding: 0 5px 0 0;
}
.pageTit .closeBtn img {
	vertical-align: 0;
	padding-right: 5px;
}
.pageTit2 {
	background: #e2f3fa;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}
.pageTit2.ex {
	margin-bottom: 15px;
}
.pageTit2.ex0 {
	margin-bottom: 0px;
}
.pageTit3 {
	color: #2ba295;
	padding: 10px;
}
.pageTit4 {
	background: #fea5ce;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.pageTit4.ex {
	margin-bottom: 15px;
}
.pageTit5 {
	background: #ffdbeb;
	padding: 10px;
	text-align: center;
	color: #666;
	margin-bottom: 15px;
}
.pageTit6 {
	background: #eee;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
}
.pageTit7 {
	font-size: 14px;
	margin-bottom: 12px;
}
.pageTit8 {
	background: #eeeeee;
	text-align: center;
	padding: 10px;
	margin-bottom: 12px;
}
.pageTit8.ex0 {
	margin-bottom: 0;
}
.pageTit9 {
	background: #eee;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 15px;
}
.pageTit9.ex0 {
	margin-bottom: 0px;
}
.pageTit10 {
	overflow: hidden;
	background: #e2f3fa;
	padding: 10px;
	font-size: 16px;
}
/*
--------------------------------------------
No1130 2015.11.18ここから修正
--------------------------------------------
*/
.pageTit11 {
	background: #f369ab none repeat scroll 0 0;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	text-align: left;
}
.pageTit12 {
	background: #d2f7f1 none repeat scroll 0 0;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 10px;
}
/*
--------------------------------------------
//No1130 2015.11.18ここまで修正
--------------------------------------------
*/

.errorBox {
	border-top: 2px solid #fecbcb;
	border-bottom: 2px solid #fecbcb;
	background: #fef8f8;
	padding: 10px 5px 10px 10px;
	margin-bottom: 15px;
	font-size: 12px;
}
.errorBox strong {
	display: block;
	color: #ff6666;
	font-size: 14px;
}
.errorTxt {
	color: #ff6666;
	padding-top: 15px;
}
.astTxt {
	display: block;
	text-indent: -1em;
	padding: 8px 0 0 1em;
	font-size: 10px;
	color: #666;
}
.astTxt.ex {
	display: block;
	text-indent: -1em;
	padding: 8px 0 0 1em;
	font-size: 14px;
}
.astTxt a {
	text-decoration: underline;
}
.helpUserLink {
	text-align: center;
	padding: 20px 0 0;
}
.helpUserLink li {
	padding: 0 0 20px;
}

img.txtinico {
	vertical-align: -1px;
	padding: 0 0 0 4px;
}
.createMypage span.txtinico {
	display: inline-block;
	/*width: 8px;*/
	height: 8px;
	border: 2px solid #1496d7;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
	background: none;
	padding: 0;
	margin: 0 5px 2px;
}
.createMypage span.txtinico:before {
	content: "";
	position: relative;
	top: 7px;
	left: 9px;
	float: left;
	width: 3px;
	height: 9px;
	background: #1496d7;
	border-radius: 0 0 4px 4px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.pageTit {
	position: relative;
	margin-bottom: 10px;
	text-align: center;
}
.pageTit span {
	display: inline-block;
	font-size: 16px;
}
/*.defSectionBox .pageTit{
	text-align:left;
	margin-bottom:0;
}*/
.pageTit a.pageBack {
	position: absolute;
	top: 50%;
	left: 3px;
	background: url(/sp/img_n/btn_pageBackArw.png) 0 50% no-repeat;
	background-size: 52px 28px;
	width: 47px;
	height: 22px;
	margin-top: -13px;
	padding: 4px 0px 0px 5px;
	font-size: 14px;
	display: block;
	color: #333;
}
.entryStep {
	/*background-size:320px 45px;*/
	text-indent: -9999px;
	height: 45px;
	margin: 0 0 12px 0;
}
.entryStep.es1 {
	background: url(/sp/img_n/img_entryStep1.png) 50% bottom no-repeat;
	background-size: 320px 40px;
}
.entryStep.es2 {
	background: url(/sp/img_n/img_entryStep2.png) 50% bottom no-repeat;
	background-size: 320px 40px;
}
.entryStep.es3 {
	background: url(/sp/img_n/img_entryStep3.png) 50% bottom no-repeat;
	background-size: 320px 40px;
}
.entryStep.es4 {
	background: url(/sp/img_n/img_entryStep4.png) 50% bottom no-repeat;
	background-size: 320px 40px;
}
.cautionBox {
	background: #e2f3fa;
	padding: 5px 8px;
}
.profileBox {
	margin-top: 20px;
}
.profileBox dl {
}
.profileBox dl dt {
	color: #2ba295;
	padding: 12px 10px 0;
}
.profileBox dl dd {
	border-bottom: 1px solid #dcdcdc;
	padding: 3px 10px 8px;
}

.searchStBox {
}
.searchStBox dl {
}
.searchStBox dl dt {
	color: #2ba295;
	padding: 12px 10px 0;
}
.searchStBox dl dd {
	padding: 3px 10px 8px;
	font-size: 20px;
	font-weight: bold;
}
.searchStBox .errorTxt {
	padding: 0 10px 8px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 16px;
}
.searchStBox .wonTxt {
	padding: 0 10px 8px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 16px;
}
.searchStBox .wonTxt {
	padding: 0 10px 8px;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 0 16px;
	margin-bottom: 0;
}

.profileBox .profileBtmBtn {
	overflow: hidden;
	background: #e2f3fa;
	padding: 10px;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #06b1e6;
}
.profileBox .profileBtmBtn.ex {
	border-bottom: 1px solid #fff;
}
.profileBox .profileBtmBtn .btn_gray {
	width: 141px;
	float: right;
}
.profileBox .profileBtmBtn .btn_gray.ex {
	width: 190px;
}
.profileBox.ex {
	margin-top: 0px;
	border-top: 1px solid #dcdcdc;
}
.profileBox.ex2 {
	margin-top: 0px;
}

.btnBtmCenter {
	clear: both;
	overflow: hidden;
	width: 300px;
	margin: 0 auto 30px;
}
.btnCenter {
	width: 300px;
	margin: 0 auto;
}
.btnCenter.btnRegistBox .btn_orange,
.btnCenter.btnRegistCloseBox .btn_orange {
	font-size: 14px;
}

/* 讀懃ｴ｢繝代ロ繝ｫ */
.bgSearchPanel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: url(/sp/img_n/bg_searchPanel.png) 0 0 repeat;
	z-index: 10000;
	display: none;
}
.searchPanel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10001;
	display: none;
}
.searchPanelInner {
	background: #fff;
	position: relative;
	padding-bottom: 0;
}
.searchPanelInner .pageTit2 {
	margin-bottom: 0px;
}
.searchPanelInner .otherItem {
	display: none;
}
.searchPanelInner .otherItemTit {
	background: url(/sp/img_n/ico_arw_b.png) 98% 50% no-repeat #e2f3fa;
	background-size: 13px 12px;
}
.searchPanelInner .otherItemTit.open {
	background: url(/sp/img_n/ico_arw_t.png) 98% 50% no-repeat #e2f3fa;
	background-size: 13px 12px;
}
.searchPanelInner .jikyuBox {
	padding: 15px 10px 25px;
	overflow: hidden;
}
.searchPanelInner .jikyuBox span {
	float: left;
}
.searchPanelInner .jikyuBox span.ex {
	padding-top: 12px;
}
.searchPanelInner .jikyuBox .btn_gray {
	padding: 10px 0 8px;
}
.searchPanelInner .jikyuBox select {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: url(/sp/img_n/ico_arw_btm.png) 90% 5px no-repeat;
	background-size: 8px 7px;
	padding: 0 30px 4px 15px;
	border: none;
	display: inline;
}

/* 繝ｭ繧ｰ繧､繝ｳ */
.formItemBox {
	background: #fafafa;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 15px;
}
.formItemBox dl {
	padding-bottom: 15px;
}
.formItemBox dl dt {
	color: #2ba295;
	padding: 9px 10px 5px;
}
.formItemBox dl dd {
	padding: 0 10px 10px;
}
.formItemBox dl dd ul.twoCoulmn {
	overflow: hidden;
}
.formItemBox dl dd ul.twoCoulmn li {
	width: 45%;
	float: left;
	padding-right: 10px;
}
.formItemBox dl dd ul.birthList {
	overflow: hidden;
}
.formItemBox dl dd ul.birthList li {
	float: left;
	padding-right: 10px;
}
.formItemBox dl dd ul.birthList li span {
	width: 100%;
}

/* 逋ｻ骭ｲ繧ｹ繝?繝?繝? */
.arrowlinkBox li a {
	display: block;
	padding: 18px 21px 18px 0;
	background: url(/sp/img_n/ico_arw_r.png) 100% 50% no-repeat;
	background-size: 12px 12px;
	color: #666;
}
.pageTit10 a.btn_gray {
	float: right;
	padding: 2px 10px;
	font-size: 12px;
}
.arrowlinkBox li a span,
.arrowlinkBox li a.lk_insite span {
	display: block;
	width: 90%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.arrowlinkBox li a.lk_insite {
	background: url(/sp/img_n/ico_insite.png) 100% 50% no-repeat;
	background-size: 13px 12px;
}
.arrowlinkBox ul li {
	padding: 0 10px;
	border-bottom: 1px solid #dcdcdc;
}
.displaylinkBox li a {
	display: block;
	padding: 18px 0 18px;
	background: url(/sp/img_n/ico_pcSite.png) 100% 50% no-repeat;
	background-size: 13px 12px;
	color: #666;
}
.displaylinkBox li a.bgnone {
	background: none;
}
.displaylinkBox ul li {
	padding: 0 10px;
	border-bottom: 1px solid #dcdcdc;
}
.displaylinkBox.ex20 {
	margin-bottom: 20px;
}
.arrowlinkBox ul li.listupTarget {
	padding: 0;
}
.arrowlinkBox ul li.listupTarget div {
	padding: 18px 10px 18px;
	cursor: pointer;
}
.arrowlinkBox ul li.listupTarget div div {
	padding: 0 10px 0 0;
	background: url(/sp/img_n/ico_arw_b.png) 100% 50% no-repeat;
	background-size: 13px 12px;
	border-bottom: none;
}
.arrowlinkBox ul li.listupTarget div.add div {
	background: url(/sp/img_n/ico_arw_t.png) 100% 50% no-repeat;
	background-size: 13px 12px;
}
.arrowlinkBox ul li.listupTarget .subMenu {
	background: #e2f3fa;
}
.arrowlinkBox ul li ul li {
	padding: 0 10px 0 20px;
	border-top: 1px solid #dcdcdc;
	border-bottom: none;
}
.displaylinkBox2 li {
	display: block;
	padding: 18px 10px 18px 0;
	/*background:url(/sp/img_n/ico_pcSite.png) 100% 50% no-repeat;*/
	background-size: 13px 12px;
	text-align: right;
}
.displaylinkBox2 {
	padding: 0 10px;
}
.displaylinkBox2 a {
	text-decoration: underline;
}

.gradilinkBox ul li .archive {
	border-bottom: 1px solid #dcdcdc;
	display: block;
	text-decoration: none;
	color: #333333;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1, #f8f8f8),
		color-stop(1, #ececec),
		color-stop(0, #ffffff)
	);
	background: -webkit-linear-gradient(
		top,
		#f8f8f8 0%,
		#ececec 93%,
		#fafafa 100%
	);
	background: -moz-linear-gradient(top, #f8f8f8 0%, #ececec 93%, #fafafa 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%, #ececec 93%, #fafafa 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #ececec 93%, #fafafa 100%);
	background: linear-gradient(top, #f8f8f8 0%, #ececec 93%, #fafafa 100%);
}
.gradilinkBox ul li.arrow {
	padding: 0 0 0 30px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 2px solid #fff;
	background: #ffffff;
}
.gradilinkBox ul li.arrow a.unavailable {
	color: #cccccc;
	background: url(/sp/img_n/ico_arw_r_none.png) 97% 50% no-repeat;
	background-size: 12px 12px;
}
.gradilinkBox ul li .radioButton {
	display: block;
	border-bottom: 1px solid #dcdcdc;
	border-top: 2px solid #fff;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(1, #eeeeee),
			color-stop(0.93, #f6f6f6),
			color-stop(0, #ffffff)
		)
		0 50% no-repeat;
	background: -webkit-linear-gradient(
			bottom,
			#ffffff 0%,
			#f6f6f6 93%,
			#eeeeee 100%
		),
		url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 93%, #eeeeee 100%),
		url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 93%, #eeeeee 100%),
		url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 93%, #eeeeee 100%),
		url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 93%, #eeeeee 100%),
		url(/sp/img_n/bg_radio_on.png) 0 50% no-repeat;
}
.gradilinkBox label {
	display: block;
	padding: 18px 54px;
	background: url(/sp/img_n/bg_radio.png) 20px 50% no-repeat;
	background-size: 30px 30px;
}
.gradilinkBox label.c_on {
	background: url(/sp/img_n/bg_radio_on.png) 20px 50% no-repeat;
	background-size: 30px 30px;
}

.gradilinkBox ul li span {
	display: block;
	padding: 18px 10px;
	border-bottom: 1px solid #dcdcdc;
	border-top: 2px solid #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(1, #eeeeee),
		color-stop(0.93, #f6f6f6),
		color-stop(0, #ffffff)
	);
	background: -webkit-linear-gradient(
		bottom,
		#ffffff 0%,
		#f6f6f6 93%,
		#eeeeee 100%
	);
	background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 93%, #fafafa 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 93%, #fafafa 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 93%, #fafafa 100%);
	background: linear-gradient(top, #ffffff 0%, #fbfbfb 93%, #fafafa 100%);
}
.gradilinkBox ul li span.changeBtn {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 2px solid #ffffff;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-ms-border-radius: 16px;
	background: none;
	padding: 0;
	margin: 0 5px 2px;
}
.gradilinkBox ul li span.changeBtn:before {
	content: "";
	position: relative;
	top: 7px;
	left: 9px;
	float: left;
	width: 3px;
	height: 9px;
	background: #ffffff;
	border-radius: 0 0 4px 4px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.gradilinkBox ul li.arrow a {
	display: block;
	text-decoration: none;
	padding: 18px 25px 18px 0;
	color: #666;
	background: url(/sp/img_n/ico_arw_r.png) 97% 50% no-repeat;
	background-size: 12px 12px;
}
.gradilinkBox ul li.arrow lavel {
	display: block;
	text-decoration: none;
	padding: 18px 0;
	color: #666;
}
.gradilinkBox li div div {
	display: block;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 18px 10px 18px 18px;
	color: #666;
	background: url(/sp/img_n/ico_arw_b02.png) 97% 50% no-repeat;
	background-size: 15px 15px;
}
.gradilinkBox li div.add div {
	display: block;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 18px 10px 18px 18px;
	color: #666;
	background: url(/sp/img_n/ico_arw_t02.png) 97% 50% no-repeat;
	background-size: 15px 15px;
}
.gradilinkBox ul li ul li.listSaerchBox {
	background: #ffffff;
	overflow: hidden;
	padding: 13px 10px 13px 20px;
	border: none;
}

.listSaerchBox dd.searchWord .btn_blue {
	float: left;
	width: 20%;
}
.listSaerchBox dd.searchWord input {
	float: left;
	width: 70%;
	margin-right: 10px;
}
.gradilinkBox ul li ul .listCategoly p {
	background: url(/sp/img_n/ico_arw_t02.png) #e2f3fa 97% 50% no-repeat;
	background-size: 15px 15px;
	padding: 18px 35px 18px 20px;
	border-top: none !important;
	border-bottom: 2px solid #fff;
}
.gradilinkBox ul li ul .listCategoly p.open {
	background-image: url(/sp/img_n/ico_arw_b02.png);
}
.gradilinkBox ul li ul .listCategoly p span {
	background: none;
	border: none;
	padding: 0;
}

table.c2list td.ex {
	width: 50%;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding: 0;
}

table.c2list td a {
	display: block;
	padding: 15px 10px 15px 10px;
	background: url(/sp/img_n/ico_arw_r.png) 98% 50% no-repeat;
	color: #666;
}

.searchPanelBtm .closeBtn {
	width: 110px;
	display: block;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
}

.font10 {
	font-size: 10px;
}
.font12 {
	font-size: 12px;
}
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.font18 {
	font-size: 18px;
}
/*
--------------------------------
No1130 2015.11.18縺薙％縺ｾ縺ｧ霑ｽ蜉?
--------------------------------
*/

.ta_r {
	text-align: right;
}
.ta_c {
	text-align: center;
}
.ta_l {
	text-align: left;
}
.mar_b0 {
	margin-bottom: 0 !important;
}
.mar_t0 {
	margin-top: 0 !important;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}

.mr10 {
	margin-right: 10px;
}
.mlr10 {
	margin-left: 10px;
	margin-right: 10px;
}

/*  other  */
.hidden {
	display: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.colOrange {
	color: #ff6666;
}
.colOrange2 {
	color: #ff6600;
}
.colBlue {
	color: #06f;
}
.colRed {
	color: #f00;
}
.colGreen {
	color: #2ba295;
}
.bold {
	font-weight: bold !important;
}
.subTxt {
	text-align: center;
	margin-bottom: 10px;
}
a.underline {
	text-decoration: underline;
}

#container.iscroll {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#container.iscroll #scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
}

.grayBorderArea {
	border: 7px solid #eee;
	padding: 16px 18px;
	font-size: 12px;
}
.pinkBorderArea {
	border: 7px solid #ffd3e7;
	padding: 16px 18px;
	font-size: 12px;
}

/* icon */
.icoInquiryMail {
	display: inline-block;
	width: 20px;
	height: 14px;
	background: #0aafe3;
	overflow: hidden;
	margin: 0 0 -2px;
}
.icoInquiryMail:before {
	content: "";
	position: relative;
	top: -4px;
	left: 4px;
	float: left;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-top-color: transparent;
	border-left-color: transparent;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.icoMypage {
	display: inline-block;
	width: 14px;
	height: 10px;
	background: #ffffff;
	margin: 0 0 -3px;
}
.icoMypage:before {
	position: relative;
	content: "";
	left: -3px;
	top: -18px;
	width: 0;
	height: 0;
	float: left;
	border: 10px solid transparent;
	border-bottom-width: 8px;
	border-bottom-color: #ffffff;
}
.icoMypage:after {
	position: relative;
	content: "";
	left: 5px;
	top: -15px;
	width: 4px;
	height: 7px;
	float: left;
	background: #fea5ce;
}

/*  LP header  */
#header p.lk_insite {
	margin-top: 5px;
	text-align: right;
	font-size: 11px;
}
#header p.lk_insite a {
	background: url(/sp/img_n/ico_insite.png) 100% 50% no-repeat;
	background-size: 13px 12px;
	padding-right: 18px;
	text-decoration: underline;
}

/*  CP link  */
.cpLinkBox {
	background: #fffef5;
	border: 1px solid #ddd;
	margin: 15px 10px 10px;
	padding: 5px 15px;
}

.cpLinkBox li {
	border-bottom: 1px dotted #ddd;
	padding: 10px 0;
}
.cpLinkBox li:last-child {
	border: none;
}
.cpLinkBox a {
	text-decoration: underline;
}
.cpLinkBox span {
	display: block;
	font-weight: bold;
}

/* pattern2 */
.cpLinkBox.pattern2 {
	margin: 0 0 30px 0;
	overflow: hidden;
	background: #fff;
}

/*  personaBox  */
input,
select,
textarea {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}
.personaBox select {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	padding: 10px 5px 8px;
	text-align: left;
	background: url(/sp/img_n/bnr_persona/ic_persona02.png) 97% 50% no-repeat;
	background-size: 8px 7px;
	-webkit-background-size: 8px 7px;
	-moz-background-size: 8px 7px;
	background-color: #f8f8f8;
	font-size: 15px;
	line-height: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 40px;
}
.personaBox {
	border: 2px solid #0bafe4;
	background: #ffffc2;
	margin: auto;
	padding: 8px;
	text-align: center;
	width: 280px;
}
.personaBox img,
.personaBox select {
	width: 100%;
}
.personaBox input {
	background: #57d7c0;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#57d7c0),
		to(#00b696)
	);
	background: -webkit-linear-gradient(#57d7c0, #00b696);
	background: -moz-linear-gradient(#57d7c0, #00b696);
	background: -ms-linear-gradient(#57d7c0, #00b696);
	background: -o-linear-gradient(#57d7c0, #00b696);
	background: linear-gradient(#57d7c0, #00b696);
	border: 1px solid #09a279;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	width: 150px;
	height: 40px;
}
.personaBox input:hover {
	background: #00b696;
	background: -webkit-gradient(
		linear,
		0 0,
		0 bottom,
		from(#00b696),
		to(#57d7c0)
	);
	background: -webkit-linear-gradient(#00b696, #57d7c0);
	background: -moz-linear-gradient(#00b696, #57d7c0);
	background: -ms-linear-gradient(#00b696, #57d7c0);
	background: -o-linear-gradient(#00b696, #57d7c0);
	background: linear-gradient(#00b696, #57d7c0);
}

.personaBnr {
	background: url(/sp/img_n/bgimg_persona.png) no-repeat;
	background-size: 100%;
	margin: 0 auto 20px auto;
	display: block;
	font-size: 12px;
	color: #333;
	width: 300px;
	height: 147px;
}
.personaBnr span {
	padding: 55px 100px 10px 10px;
	display: block;
}

/*  横断アプリ バナー  */
.alicamoBnr.top {
	margin: -10px 10px 20px;
}
.alicamoBnr.comp {
	margin: 0 10px 30px;
}
.alicamoBnr a {
	display: block;
	padding: 12px;
	background-color: #fff9fc;
	border: 1px solid #ff6887;
	border-radius: 4px;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari,Chrome */
	position: relative;
}
.alicamoBnr a:after {
	content: "";
	width: 14px;
	height: 22px;
	background-image: url("/sp/img_n/ico_arw_r_pink.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 7px 11px;
	position: absolute;
	top: 37%;
	right: 12px;
}
.alicamoBnr .img {
	width: 56px;
}
.alicamoBnr .img img {
	width: 100%;
}
.alicamoBnr .txt {
	padding-left: 10px;
}
.alicamoBnr p.ttl {
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 1.3;
	color: #ff6887;
}
.alicamoBnr p.sub {
	padding-right: 10px;
	font-size: 10px;
	color: #666666;
}
.alicamoBnr p.sub span {
	color: #ff6887;
}
/*No.3717180 2017.12.20ここから追加 */
/*=============================
  紹介予定派遣について・福利厚生ページのCVボタン
  ================================*/
.cv_bg02 {
	background-image: linear-gradient(
		-45deg,
		#fff 25%,
		#dbe1ed 25%,
		#dbe1ed 50%,
		#fff 50%,
		#fff 75%,
		#dbe1ed 75%,
		#dbe1ed
	);
	background-size: 20px 20px;
	padding: 20px 0;
	margin-bottom: 30px;
	position: relative;
}
.cv_bg02 .cv_area {
	background: linear-gradient(70deg, #f5f2fd, #fdfdf1);
	box-shadow: 0px 0px 8px -1px #d3d3d3;
	-moz-box-shadow: 0px 0px 8px -1px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px -1px #d3d3d3;
	padding: 15px 0;
}
.cv_bg02 .cv_inner {
	text-align: left;
	padding: 15px 10px;
	border-top: 1px solid #ff2973;
	border-bottom: 1px solid #ff2973;
	box-sizing: border-box;
}
.cv_bg02 .cv_inner ul,
.cv_bg02 .cv_inner p,
.cv_bg02 .cv_inner img {
	z-index: 100;
	position: relative;
}
.cv_bg02 .fix_img {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 0;
}
@media screen and (max-width: 320px) {
	/* 表示領域が320px以下の場合に適用するスタイル */
	.cv_bg02 .fix_img {
		position: absolute;
		right: 40px;
		top: 10px;
		z-index: 0;
		width: 115px !important;
	}
}
.cv_bg02 .cv_inner .text_shadow {
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff,
		-1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.area_search_ttl {
	color: #fd8c25;
	display: inline-block;
	font-size: 16px;
	margin: 20px 0 0;
	position: relative;
	padding-left: 30px;
	font-weight: bold;
	font-size: 18px;
	line-height: 35px;
}
.area_search_ttl:after,
.area_search_ttl:before {
	content: "";
	height: 18px;
	width: 4px;
	display: block;
	background: #fd8c25;
	position: absolute;
	top: 8px;
	left: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.area_search_ttl:before {
	height: 10px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	top: 16px;
	left: 7px;
}
.areaBox {
	margin: 10px 5px 0;
}
.swich {
	display: block;
	width: 100%;
	height: 54px;
	background: url(/sp/img_n/btn_search.png) no-repeat;
	background-size: 100% auto;
}
.swich.add {
	background: url(/sp/img_n/btn_search_on.png) no-repeat;
	background-size: 100% auto;
}

.areaBox ul li .archive {
	display: block;
	text-decoration: none;
	color: #333333;
	background-color: #ffead7;
}
.areaBox ul {
	overflow: hidden;
}
.areaBox ul li.answer a {
	display: block;
	padding: 15px 0;
	background: #ffffff;
	width: 24.5%;
	float: left;
	margin: 0 0.5% 0.5% 0;
	font-size: 14px;
	text-align: center !important;
}
.areaBox ul li.answer a:nth-child(4n) {
	margin: 0 0 0.5% 0;
}
.areaBox li div div {
	display: block;
	padding: 15px 30px 15px 44px;
	color: #666;
	margin-bottom: 2px;
	font-size: 14px;
	text-align: center !important;
}
/*SS_WEB_MNT-4991 2020.01.21 ここから修正*/
.areaBox li div div {
	background: url(/sp/img_n/ico_hakenqa_plus_2.png) no-repeat 97% 50% / 15px
		15px;
}
.areaBox li div.add div {
	background: url(/sp/img_n/ico_hakenqa_minus_2.png) no-repeat 97% 50% / 15px
		15px;
}
/*SS_WEB_MNT-4991 2020.01.21 ここまで修正*/

.areaBox li div.add div {
	display: block;
	padding: 15px 30px 15px 44px;
	color: #666;
	font-size: 14px;
	text-align: center !important;
}
/*=============================
  紹介予定派遣について・福利厚生ページの共通フッターメニュー
  ================================*/
.gradilinkBox ul li.arrow.pict {
	padding: 0 0 0 0 !important;
	border-bottom: 1px solid #dcdcdc;
	border-top: 2px solid #fff;
	background: #ffffff;
}
.gradilinkBox ul li.arrow.pict a {
	text-decoration: none;
	padding: 0 0 0 0 !important;
	color: #666;
	background: url(/sp/img_n/ico_arw_r.png) 97% 50% no-repeat;
	background-size: 12px 12px;
	display: table;
	height: 100%;
	width: 100%;
	max-height: 150px;
}
.gradilinkBox ul li.arrow.pict a img {
	width: 90%;
	max-width: 240px;
	vertical-align: middle;
	display: table-cell;
}
.gradilinkBox ul li.arrow.pict a p {
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	width: 66.6%;
	margin-left: 10px;
}
/*=============================
  パンくずリスト
  ================================*/
#bread_crumb {
	/*border-top: 1px #dddddd solid;*/
	padding: 10px;
	background-color: #f8f8f8;
}
#bread_crumb > ol {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}
#bread_crumb li {
	display: inline;
	float: left;
}
#bread_crumb li + li::before {
	color: #ccc;
	content: "＞";
	display: inline-block;
	font-size: 10px;
	padding: 0 4px 0 6px;
}
#bread_crumb li:last-child {
	float: none;
}

/*
--------------------------------
2018.3.20 ここから修正
--------------------------------
*/

/*ハンバーガーアイコン*/
#toggle,
#toggle_copy {
	position: absolute;
	top: 5px;
	right: 2%;
	width: 28px;
	height: 33px;
}

#toggle span,
#toggle_copy span {
	color: #40b5d3;
	font-size: 7px;
	display: block;
	text-align: center;
	font-weight: bold;
}

#toggle_copy .close {
	text-indent: 1px;
}

#toggle div,
#toggle_copy div {
	position: absolute;
	width: 28px;
	height: 4px;
	border-radius: 3.5px;
	background: #40b5d3;
}

#toggle .bar1 {
	bottom: 0;
	left: 0;
}

#toggle .bar2 {
	bottom: 8px;
	left: 0;
}

#toggle .bar3 {
	bottom: 16px;
	left: 0;
}

#toggle_copy .bar1 {
	bottom: 0;
	top: 65%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#toggle_copy .bar3 {
	bottom: 16px;
	top: 65%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

/*SPメニューレイアウト*/
#drawer {
	display: none;
	background: #fff;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 9999;
}

.reserve {
	padding: 20px 2% 22px;
	border-top: 3px solid #40b5d3;
	border-bottom: 1px dotted #cecfcf;
	overflow: hidden;
}

.reserve_btn {
	float: left;
	width: 49.2%;
}

.reserve_btn a {
	display: block;
}

.reserve_btn a:hover {
	opacity: 0.5;
}

.reserve_btn:first-child {
	margin: 0 1.6% 0 0;
}

.reserve_btn img {
	max-width: 100%;
}

.sp_navi .list_title {
	padding: 14px 7px 14px 7px;
	background: #21b0e1;
	color: #fff;
	font-weight: bold;
}

.sp_navi .list {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 7px 5px 7px;
	border-top: 1px dotted #cecfcf;
	min-height: 55px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	line-height: 1.2;
}

.sp_navi .list_disc {
	text-indent: 3.6%;
}

.sp_navi .list_disc a::before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background: #333;
	border-radius: 50%;
	position: absolute;
	top: 0.8em;
	left: 2px;
	margin-top: -5.5px;
}

.sp_navi .list a {
	position: relative;
	display: block;
	color: #4d4d4d;
	font-size: 14px;
	width: 100%;
}

.sp_navi .list a::after {
	content: "";
	display: block;
	position: absolute;
	right: 2%;
	top: 50%;
	width: 6px;
	height: 6px;
	margin-top: -6px;
	border-top: 3px solid #21b0e1;
	border-right: 3px solid #21b0e1;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sp_navi .list:first-child {
	border: none;
}

.sp_navi .list span {
	display: block;
	font-size: 11px;
}

.sp_navi .search_job a {
	padding: 2px 0 2px 30px;
	background: url(/sp/img_n/sp_nav_icon01.png) no-repeat;
	background-position: 0 47%;
	background-size: 18px;
	vertical-align: baseline;
}

/*メニュー閉じる*/
#sp_close_btn {
	padding: 20px 0;
	border-top: 1px dotted #cecfcf;
}

#sp_close_btn a {
	position: relative;
	width: 210px;
	height: 40px;
	display: block;
	margin: 0 auto;
	line-height: 40px;
	color: #777;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	text-indent: 20px;
	font-weight: bold;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(119, 102, 108, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(119, 102, 108, 0.2);
}

#sp_close_btn a::after,
#sp_close_btn a::before {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 2px;
	background: #777;
	top: 50%;
	margin-top: -1px;
	left: 25px;
}

#sp_close_btn a::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#sp_close_btn a::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.gradilinkBox.merit ul li.arrow {
	padding: 0 0 0 15px;
}
a {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: (0, 0, 0, 0);
}

.hover {
	background-color: #e2f3fa !important;
}

/*No.3918011 2019.05.15ここから修正*/
.arrowlinkBox li.noArr {
	text-align: center;
	padding: 10px;
}
.arrowlinkBox li.noArr a {
	display: block;
	padding: 0 0 0 0;
	background: none;
	color: #666;
}
.arrowlinkBox li.noArr a.myp_btn {
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #bc1846;
	padding: 0;
	margin: 5px 30px 0;
	background: #ff608c;
}
.arrowlinkBox li.noArr a.myp_btn span {
	display: inline;
	padding: 3px 0 3px 25px;
	margin-left: 10px;
	background: url(/sp/img_n/ico_key.png) no-repeat center left/contain;
	height: 40px;
	line-height: 40px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	_::-webkit-full-page-media,
	_:future,
	:root .arrowlinkBox li.noArr a.myp_btn span {
		padding: 5px 0 5px 25px;
	}
}
.arrowlinkBox li.noArr a.idpw {
	color: #11a7d7;
	text-decoration: underline;
}
/*No.3918011 2019.05.15ここまで修正*/
/*SS_WEB_MNT-4685 2020.03.27ここから修正*/
#mypage_terms .destBox .table {
	text-align: left;
	margin-top: 10px;
	font-weight: normal;
	vertical-align: top;
	width: 100%;
}
#mypage_terms .destBox table,
.destBox td,
.destBox th,
.destBox tr,
.destBox thead,
.destBox tbody {
	border: 1px solid #bbb;
}
#mypage_terms .destBox .table * {
	padding: 3px;
}
#mypage_terms .destBox .table th {
	width: 35%;
	font-weight: normal;
}
#mypage_terms .destBox .table .bold {
	font-weight: bold;
}
/*.destBox .table{
	margin-bottom: 10px;
}*/
#mypage_terms .destBox .ttl td {
	vertical-align: top;
}

#mypage_terms .table td {
	text-align: center;
	width: 16%;
	vertical-align: middle;
}
#mypage_terms .table th {
	width: 20%;
}
/*SS_WEB_MNT-4685 2020.03.27ここまで修正*/
